<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon/favicon.ico" />

    <title>NodeJS OT267</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <h1>GRUPO OT267</h1>
      <h1>NodeJS</h1>
    </header>

    <h2>Backend Project for Alkemy</h2>
    <div>
      <h3>Objective:</h3>
      <p>Build an API server for "Somos Más" ONG web site</p>
      <h3>Team:</h3>
      <ul>
        <a href="https://github.com/zayrarepositor" target="_blank">
          <li>Zayra Velasco</li>
        </a>
        <a href="https://github.com/EliasPedevilla" target="_blank">
          <li>Elias Pedevilla</li>
        </a>
        <a href="https://github.com/BrunoBohlmann" target="_blank">
          <li>Bruno Bohlmann</li>
        </a>
        <a href="https://github.com/a-toro" target="_blank">
          <li>William Toro</li>
        </a>
        <a href="https://github.com/AlfredoBlanco" target="_blank">
          <li>Alfredo Blanco</li>
        </a>
        <a href="https://github.com/FranciscoLynch" target="_blank">
          <li>Francisco Lynch</li>
        </a>
        <a href="https://github.com/msmarinip" target="_blank">
          <li>Soledad Marini</li>
        </a>
      </ul>
      <h3>Methodology:</h3>
      <p>SCRUM</p>
      <h3>Management software:</h3>
      <p>Jira</p>
      <h3>Technologies:</h3>
      <ul>
        <li>NodeJS</li>
        <li>Express</li>
        <li>Sequelize (mySql database)</li>
        <li>EsLint</li>
        <li>Helmet</li>
        <li>JWT</li>
        <li>Sendgrid</li>
        <li>Amazon S3</li>
        <li>Mercado Pago</li>
        <li>Mocha - Chai</li>
        <li>Swagger</li>
      </ul>
    </div>
  </body>
</html>
